* {
    font-family: 'Comfortaa', cursive; /*Hasta que encuentre una nueva fuente*/
}

.navbar {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);    
}

.navbar .navbar-brand {
    font-size: 20px;
    color: #FFF;
}

.navbar-nav li a {
    font-size: 18px;
    color: #FFF;
    transition: all 500ms;
}

.navbar-nav li a:hover {
    color: #FFF;
    transform: scale(1.1, 1.1)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.loader-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 160px;
    height: 160px;
    animation: appear 1.2 ease infinite;
}
  
.loader-container .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #0dac77;
    border-left-color: #0dac77;
    border-radius: 50%;
    animation: loader 1.2s ease-in-out infinite;
}
  
.loader-container .loader-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-bottom-color: #a5004a;
    border-right-color: #a5004a;
    border-radius: 50%;
    animation: loader-2 1.2s ease-in-out infinite;
}
  

.wrap-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
}

.buy-button {
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
}


.item {
    text-align: center;
    -webkit-animation: appear 2.5s linear infinite;
    animation: appear 2.5s ease;
}

.item img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.item-list {
    margin-top: 30px;
    display: flex;
    border-radius: 10px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.cart-nav-item {
    text-decoration: none;
    margin-right: 20px;
}

.card {
    padding: 10px;
    margin: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item-detail-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 30vh);
    margin-top: 30px;
    border-radius: 20px;
}

.details {
    background-color: rebeccapurple;
    padding: 50px;
    text-align: center;
}

@keyframes appear {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes loader-2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes loader {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  
@keyframes loader-2 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
}