* {
  font-family: "Comfortaa", cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  text-align: right;
  margin-left: 50px;
}

#home {
  background: rgba(0, 0, 0, 0.8) url(../src/assets/img/background.jpg);
  background-blend-mode: darken;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
